html, body {
  padding: 0;
  margin: 0;
}

body {
  /* background-image: url("background.jpg");
  background-size: cover; */
  background: #201148;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #00ccfd;
  font-family: 'Coiny', cursive;
  /* position: relative; */
}

.conway-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

#conway {
  color: #2011a2;
  background-image:
    radial-gradient(
      circle,
      #00ccfd,
      #201148
    );
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
  width: 38vw;
  height: 60vh;
}

.cell {
  border: solid 1px lightgrey;
  box-sizing: border-box;
  float: left;
  border: 1px solid #2011a2;
  border-radius: 8px;
  background-color: #00ccfd;
  height: 90%;
  margin: .5%;
  -webkit-transition: background-color .25s
}

.row{

}

.visited {
  background-color: #ff34b3	;
  transition: all .2s ease-in-out;
}

.visited:hover {
  color: pink;
  transform: scale(1.1)
}


.alive {
  background-color: #2011a2;
}

.message {
  z-index: 2;
  font-family: 'Lobster', cursive;
  font-size: 160px;
  color: #FFB513;
  top: 19%;
  position: absolute;
  left: 50%;
  margin-left: -130px;
  text-shadow: -2px 0 #2011a2, 0 9px #2011a2, 2px 0 #2011a2, 0 -2px #2011a2;
}

.bigger-board {
  left: 50%
}

.hidden {
  transform: scale(0, 0);
}


.show-message {
  transform: scale(1, 1);
  transition: 200ms;
}

.button {
  font-family: 'Roboto Slab', serif;
  margin: 7px;

}

#explaination-modal {
  color: black;
  transition: all .2s ease-in-out;
  position: absolute;
  z-index: 5;
  height: 90vh;
  width: auto;
  background-color: #5F3994;
  padding: 20px;
  border: 2px solid;
  border-radius: 30px;
  width: 48%;
  overflow: scroll;
  -ms-overflow-style: none;  
  overflow: -moz-scrollbars-none; 
}

#explaination-modal::-webkit-scrollbar { 
  display: none; 
}

#explaination-modal h2 {
  color: #FFB513;
  font-size: 30px;
  margin-bottom: 0;
}
#explaination-modal h4 {
  color: #FFB513;
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 0;
}

#explaination-modal p {
  font-size: 18px;
  margin: 11px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 13px;
  margin-top: 0px;
}

#play-button {
  height: 53px;
  width: 100px;
  margin: 12px;
  margin-right: 103px;
  font-family: 'Lobster', cursive;
  font-size: 28px;
  background: #FFB513;
  border-radius: 16px;
  padding-bottom: 7px;
  outline: none;
}

.dark-blue {
  color: #2011a2;
}

.pink {
  color: #ff34b3;
}

.light-blue {
  color: #00ccfd;
}

a {
  text-decoration: none;
  color: #E8117E;
}

a:hover {
  text-decoration: underline;
}

