html, body {
  padding: 0;
  margin: 0;
}

body {
  /* background-image: url("background.jpg");
  background-size: cover; */
  background: #201148;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #00ccfd;
  font-family: 'Coiny', cursive;
  /* position: relative; */
}

.conway-container {
  color: #2011a2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image:
    radial-gradient(
      circle,
      #00ccfd,
      #201148
    );
  position: relative;
}

#conway {
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin: auto;
  
}

#conway div > div {
  border: solid 1px lightgrey;
  box-sizing: border-box;
  float: left;
  border: 1px solid #2011a2;
  border-radius: 8px;
}

.cell {
  background-color: #00ccfd	;
  width: 20px;
  height: 20px;
  margin: 3px;
  -webkit-transition: background-color .25s
}


.visited {
  background-color: #ff34b3	;
  transition: all .2s ease-in-out;
}

.visited:hover {
  
  width: 25px;
  height: 25px;
  margin: .5px;

  transform: scale(1.1)
}


.alive {
  background-color: #2011a2;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message {
  z-index: 2;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: #FFB513;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

.bigger-board {
  left: 50%
}

.hidden {
  transform: scale(0, 0);
}



.show-message {
  transform: scale(1, 1);
  transition: 200ms;
}

.button {
  font-family: 'Roboto Slab', serif;
  margin: 7px;

}

#explaination-modal {
  transition: all .2s ease-in-out;
  position: absolute;
  z-index: 5;
  height: auto;
  width: auto;
  background-color: #5F3994;
  padding: 20px;
  border: 2px solid;
  border-radius: 30px;
  width: 48%;
}

#explaination-modal h2 {
  color: #FFB513;
  font-size: 30px;
  margin-bottom: 0;
}
#explaination-modal h4 {
  color: #FFB513;
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 0;
}

#explaination-modal p {
  font-size: 18px;
  margin: 11px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 13px;
}

#play-button {
  height: 53px;
  width: 100px;
  margin: 12px;
  margin-right: 103px;
  font-family: 'Lobster', cursive;
  font-size: 28px;
  background: #FFB513;
  border-radius: 16px;
  padding-bottom: 7px;
  outline: none;
}

