html, body {
  padding: 0;
  margin: 0;
}

body {
  /* background-image: url("background.jpg");
  background-size: cover; */
  background: #201148;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #00ccfd;
  font-family: 'Coiny', cursive;
  position: relative;
}

.conway-container {
  color: #2011a2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image:
    radial-gradient(
      circle,
      #00ccfd,
      #201148
    );
}

#conway {
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin: auto;
}

#conway div > div {
  border: solid 1px lightgrey;
  box-sizing: border-box;
  float: left;
  border: 1px solid #2011a2;
  border-radius: 8px;
}

.cell {
  background-color: #00ccfd	;
  width: 20px;
  height: 20px;
  margin: 3px;
  -webkit-transition: background-color .25s
}


.visited {
  background-color: #ff34b3	;
  transition: all .2s ease-in-out;
}

.visited:hover {
  
  width: 25px;
  height: 25px;
  margin: .5px;

  transform: scale(1.1)
}


.alive {
  background-color: #2011a2;
}

.winner {
  color: #ff34b3;
  height: 80px;
  width: 200px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loser {
  color: #201148;
  height: 80px;
  width: 200px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.absolute {
  position: relative;
}
.message {
  z-index: 2;
  position: absolute;
  left: 45%;
  top: 11%;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: #FFB513;

}



.hidden {
  transform: scale(0, 0);
}

.show-message {
  transform: scale(1, 1);
  transition: 200ms;
}